body {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    background: #ffffff;
}

header {
    margin-top: 10pt;
}

#header-banner {
    margin: 0 auto 1.2em;
}

nav#root-menu ul li {
    display: inline;
}

nav#root-menu a {
    color: #ffffff;
    background: #1f69cf;
}

nav#root-menu a.item-selected {
    color: #ffffff;
    background: #7ca6eb;
}

nav#root-menu a:hover {
    background: #4d87dd;
}

div.news-block {
    background: #faf6e6;
    padding: 0.7em;
}

div.news-block h3 {
    font-size: 1em;
    line-height: 1.2;
    font-weight: bold;
    color: #3c72cc;
    padding: 0 0 0.8em;
    margin: 0 0 0.8em;
    border-bottom: 1px solid #f3c8c8;
}

div.news-block-list {
    margin: 0 0 2em;
    font-size: 0.85em;
}

dl.news-block-list-item, dl.news-block-list-item dd {
    margin: 0;
    padding: 0;
}

dl.news-block-list-item dt {
    color: #91908b;
    margin: 1.5em 0 0.5em;
}

dl.news-block-list-item dd a {
    color: #000000 !important;
    text-decoration: none;
    outline: none;
}

div.product-list-item {
    margin: 0 25px 20px 0;
    position: relative;
}

div.product-list-item span {
    display: inline-block;
    position: absolute;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 25px;
}

div.product-list-item span.product-list-item-title {
    top: 15px;
    left: 0;
}

div.product-list-item span.product-list-item-price {
    bottom: 15px;
    right: 0;
}

div#root-footer {
    text-align: center;
    font-size: 0.85em;
    padding: 0.5em 2em 0;
    margin: 1em auto 0;
    background: #f5f5f5;
}

div.news-list-article {
    margin: 0.5em auto 1em;
    cursor: pointer;
}

span.news-list-article-date {
    color: #cccccc;
    font-size: small;
    font-style: italic;
}

span.news-list-article-title {
    font-size: larger;
    font-weight: bold;
}

div.news-list-article img, img.news-article {
    margin-right: 5pt;
}

div.news-list-article img {
    max-width: 100px;
}

div.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

div.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

div.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

div.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

div.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
