body {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    background: #ffffff;
}

header {
    margin-top: 10pt;
}

#header-banner {
    margin: 0 auto 1.2em;
}

nav#root-menu ul li {
    display: inline;
}

nav#root-menu a {
    color: #ffffff;
    background: #1f69cf;
}

nav#root-menu a.item-selected {
    color: #ffffff;
    background: #7ca6eb;
}

nav#root-menu a:hover {
    background: #4d87dd;
}

div.news-block {
    background: #faf6e6;
    padding: 0.7em;
}

div.news-block h3 {
    font-size: 1em;
    line-height: 1.2;
    font-weight: bold;
    color: #3c72cc;
    padding: 0 0 0.8em;
    margin: 0 0 0.8em;
    border-bottom: 1px solid #f3c8c8;
}

div.news-block-list {
    margin: 0 0 2em;
    font-size: 0.85em;
}

dl.news-block-list-item, dl.news-block-list-item dd {
    margin: 0;
    padding: 0;
}

dl.news-block-list-item dt {
    color: #91908b;
    margin: 1.5em 0 0.5em;
}

dl.news-block-list-item dd a {
    color: #000000 !important;
    text-decoration: none;
    outline: none;
}

div.product-list-item {
    margin: 0 25px 20px 0;
    position: relative;
}

div.product-list-item span {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 5px 25px;
}

div#root-footer {
    text-align: center;
    font-size: 0.85em;
    padding: 0.5em 2em 0;
    margin: 1em auto 0;
    background: #f5f5f5;
}

div.news-list-article {
    margin: 0.5em auto 1em;
    cursor: pointer;
}

span.news-list-article-date {
    color: #cccccc;
    font-size: small;
    font-style: italic;
}

span.news-list-article-title {
    font-size: larger;
    font-weight: bold;
}

div.news-list-article img, img.news-article {
    margin-right: 5pt;
}

div.news-list-article img {
    max-width: 100px;
}